* {
  box-sizing: border-box;
}

body {
  font-family: "Ariel", Sans-Serif;
  font-size: 18px;
  line-height: 1.26em;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  margin: 1em auto;
  padding: 0 10px 0 10px;
  height: 100%;
  color: #333;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  background-color: #B8DDF9;
}

a {
  color: #444;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 36px;
  line-height: 1em;
  font-weight:normal;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:15px;
  margin-bottom:0;
  padding-bottom: 0;
  padding: 0;
}

h2 {
  font-size: 28px;
  font-weight:normal;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  margin-top:1em;
  margin-bottom:1em;
  padding: 0;
}

button {
  font-size: 125%;
  margin: .25em 0;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
}

#toggle {
  text-align: center;
  margin: 1em 1em 3em;
}

#toggle button {
  font-size: 150%;
  border: 2px solid #222;
  border-radius: 5px;
  cursor: pointer;
  background-color: #EEE;
  padding: 5px;
}

#toggle button:hover {
  background-color: #F8F8F8; 
}

#parameters {
  display: none;
}

.header a {
  text-decoration:none;
  margin: .5em;
}

#directions {
  margin: 1em 0 2em;
}

h2 a {
  text-decoration:none;
}

p {
  margin:0 0 12px 0;
}

.project-links {
  text-align: center;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}


/* Touch Controls */

#touch-controls-container {
  position: fixed;
  bottom: 50px;
  right: 0;
  width: 400px;
}

#touch-controls {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#touch-controls button {
  border: 3px solid black;
  padding: 5px;
  display: inline-block;
  min-width: 80px;
  margin: 25px;
}

label {
  margin: 1em 0 0;
  display: block;
}

input {
  width: 90%;
  margin: .25em 0 2em;
  display: block;
}

fieldset {
  width: 90%;
}

fieldset input, fieldset label {
  margin: 0;
  display: inline;
}




#hidden-input {
  position: fixed;
  top: -100px;
  left: -100px;
  height: 0;
  width: 0;
}

#game-info h2 {
  display: inline-block;
  margin: 10px 20px 0 0;
  font-size: 20px;
}

fieldset input {
  width: auto;
  display: inline-block;
}

#space-invaders {
  background-color: #111;
}

#game {
  display: inline-block;
  max-width: 400px;
  margin: 0 20px;
  vertical-align: top;
  height: 100%;
  position: fixed;
}

#scrollable {
  display: inline-block;
  overflow: scroll;
  height: 96%;
  width: 60%;
  position: fixed;
  left: 420px;
  background-color: #E7FBFC;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #CCC;
}

.param-category {
  border: 2px solid #333;
  margin: 1em 0;
  padding: 1em;
}

.param-category h3 {
  margin: 0 0 .5em;
}

@media (max-width: 870px) {
  input {
    max-width: 800px;
    margin: 0 10%;
    width: 80%;
  }
  
  #game {
    height: 400px;
  }
  #scrollable {
    top: 400px;
    left: 20px;
    width: 100%;
    width: Calc(100% - 40px);
    max-height: Calc(100% - 400px);
  }
}